<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title><%= USE_WASM ? 'WebAssembly' : 'JavaScript' %> Mandelbrot Generator</title>
  <meta name="description" content="Mandelbrot generator implemented using TypeScript and Rust with WebAssembly">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="main.css">
</head>

<body>
  <nav>
    <span><%= USE_WASM ? 'WebAssembly' : 'JavaScript' %> Mandelbrot Generator</span>
  </nav>
  <div id="canvas-container">
    <canvas width="1920" height="1080"></canvas>
  </div>
</body>

</html>
